body {
    color: white;
    background-image: url("coffee-images/pexels-negative-space-34085.jpg");
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    font-weight: bold;
}


#coffee-text {
    height: 50%;
}

#new-coffee-name {
    height: 50%;
}

main {
    color: whitesmoke;
    background: rgba(95, 79, 27, 0.7);
    border: transparent 5px;
    border-radius: 10%;
}
#jumbotron {
    color: black;
    background: rgba(172, 73, 7, 0.7);
    border: black solid 10px;
    border-radius: 5px;
}

.card-body {
    border: solid black 10px;
    border-radius: 10%;
}